@{ViewData["Title"] = "Movie List";}


@model List<MovieResponse>

    <table class="table table-bordered table-striped">
        <thead class="font-weight-bold">
            <tr>
                <td>Category</td>
                <td>Movie Title</td>
                <td>Year Made</td>
                <td>Director Name</td>
                <td>Rating</td>
                <td>Edited</td>
                <td>Lent To</td>
                <td>Notes</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
            <tr>
                <td>@x.Category.CategoryName</td>
                <td>@x.MovieName</td>
                <td>@x.Year</td>
                <td>@x.DirectorName</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.LentTo</td>
                <td>@x.Notes</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.Id">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>